@{
    ViewData["Title"] = "Home Page";

    @using (Html.BeginForm("Search", "Car", FormMethod.Get))
    {
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Find by Make or Model</span>
            </div>
            @Html.TextBox("searchString", null, new { @class = "form-control", @aria_label = "Sizing example input", @aria_describedby = "inputGroup-sizing-sm" })
            <div class="input-group-append">
                <input type="submit" value="Search" class="btn btn-custom" />
            </div>
        </div>
    }

}
