@{
    ViewData["Title"] = "Home Page";

    @using (Html.BeginForm("Search", "Car", FormMethod.Get))
    {
        <div class="search-container">
            <input type="text" name="searchString" class="search-input" placeholder="Find by Make or Model" />
            <button type="submit" class="search-btn">Search</button>
        </div>
    }

}
